---
layout: uikit
---

h2 Container

hr.uk-article-divider

h3 Centering

.uk-width-medium-1-2.uk-container-center
    .uk-panel.uk-panel-box.uk-panel-box-primary
      | Centered block element

hr.uk-article-divider

h3 Alignment of images and objects

p.uk-clearfix
  img.uk-align-medium-right src=image_path('placeholder_400x200.svg')
  | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
